.radio {
  flex-shrink: 1;
  margin: 10px;
  display: block;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 2px 4px 0px rgba(3, 3, 3, 0.1);
  border: 1px solid rgba(0, 188, 212, 1);
  background-color: rgba(255, 255, 255, 1);
}

.radio-toggle {
  display: none;
  position: absolute;
  top: 4px;
  left: 4px;
  width: calc(100% - 8px);
  height: calc(100% - 8px);
  border-radius: 6px;
  background-color: rgba(0, 188, 212, 1);
}

.radio-toggle--checked {
  display: block;
}

.radio-input {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 1px;
  height: 1px;
}