.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 1;
  align-self: stretch;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  text-align:center;
}