.input-stepper {
  display: block;
  margin: 10px;
  font-size: 14px;
  letter-spacing: 0px;
  text-align: left;
  text-transform: none;
  color: rgba(3, 3, 3, 1);
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
  border: 1px solid rgba(3, 3, 3, 1);
  background-color: rgba(255, 255, 255, 1);
}